{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> My name is Samuel. I am currently studying medicine in the Federal University of Technology Owerri.</p>
        <p>Due to the ongoing ASUU strike I decided to venture into Web Development and in the process I came up with this website</p>
        <p>I intend to become a fullstack web-developer before the ASUU strike is called off</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}